
/* === Imagens de fundo === */
.foto1 {
  background-image: url("girassol.jpg");
}
.foto2 {
  background-image: url("ipe-rosa.jpg");
}
.foto3 {
  background-image: url("ipe-amarelo.jpg");
}

/* Configuração geral das seções com imagens */
.foto1, .foto2, .foto3 {
  min-height: 100vh;        /* altura da tela toda */
  opacity: 0.7;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* efeito parallax */
  background-position: center;

  /* Centralizar conteúdo dentro */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Título no meio */
.titulo {
  background-color: rgba(88, 152, 163, 0.7);
  color: blue;
  font-size: 25px;
  padding: 15px 25px;
  border-radius: 10px;
  text-align: center;
}

/* Conteúdo normal */
.conteudo {
  background-color: darkorchid;
  color: bisque;
  padding: 30px;
  text-align: justify;
}

h3 {
  margin-top: 0;
}
